*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
   }
   .hbg{
       height: 100vh;
       width: 100%;
       background-image: url("./bg.jpeg");
       background-repeat:no-repeat ;
       background-size: cover;
       background-position: center;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       
   }
   .hbg h1,h2 {
       margin-top: 0px;;
   }
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(2.82deg, rgba(38, 159, 197, 0.71) 3.77%, #1E4D62 89.04%);
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;   
}
.fc{
    width: 400px;
    height: 340px;
    background-color:transparent;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 6px rgba(0,0,0,0.219);
    margin: 20px;
    flex-direction: column;
}

.up{
    width:250px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;


}.up label{
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top: 10px;
    transition: 0.5s ease-in-out;
}
.up input{
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-bottom: 1px solid #c9c9c98a;
    background-color: transparent;

}
.up input:focus ~ label,
.up input:valid ~ label  {
    color: blue;
    top: -10px;
    font-size: 12px;
}
.up input:focus ,
.up input:valid {
    border-color: blue;
     
}
.submitbt{
    background: radial-gradient(252.13% 252.13% at 50% 50%, #2C667C 0%, #61B6D1 100%);
   filter: blur(.5 px);
    color: white;
    padding: 10px 0;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
}
.lh h2{
    font-family: Petrona;
    font-style: normal; 
    font-weight: 10px;
    font-size: 24px;
    line-height: 27px;
     mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lh a{
    text-decoration: none;
    color: #FFFFFF;
}
.sfc{
   
    height: 400px;

}
.tb{
    height:100px ;
    display: flex ;
    justify-content: space-between;
    
}

.ltb,.rtb{
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
}
.ltb h3 a,.rtb h3 a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    color: #FFFFFF;
    
}
.rtb{
    margin-right: 30px;
    position: relative;
}
.india{

    color: white;
    display: flex;
    margin-left: 47%;
    margin-top: -5%;    
}
.explore h1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF; 
    margin-left: -20%;

}


.rtb label{
    color: white;
    font-size: 14px;
    position: absolute;
    top: 30px;
    transition: 0.5s ease-in-out;
}
.rtb input{
    height: 30px;
    width: 200px;
    background: transparent;
    border: none;
    margin-top: 25px;
   background-color: transparent;
    border-bottom: 2px solid white;
    outline: none;
   

}
.rtb input:focus ~ label,
.rtb input:valid ~ label  {
    color: blue;
    top: 10px;
    font-size: 12px;
}
.rtb input:focus ,
.rtb input:valid {
    border: none;
      border-bottom: 2px solid white;
    border-color: blue;
     
}
.hrl{
    display: flex;
    margin-left: -42%;
   
}
.line{
    width: 200px;
    height: 2px;
    background-color: white;
    margin: 0;

   
   
}
.ex p{
    margin: 0px;

    margin-top: -10px   ;
    margin-left: 7px;
    margin-right: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;

color: #FFFFFF;
}
.fbar
{
   display: flex;
   justify-content: space-between;
   margin-bottom:0px;
   padding-bottom:10PX ;
   
}
.leftf,.middlef,.rightf{
    width: 300px;
    height: 254px;
    
    
}
.middlef{
    width:400px ;
}

.leftf{
    margin-left: 50px;
}
.rightf{
    margin-right: 50px;
}
.middlef h2{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: left;
letter-spacing: 0.035em;
margin: 0;
margin-left: 50px;
color: #FFFFFF;
margin-bottom: 4px;
}
.middlef p{
    width: 300px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.035em;
color: #FFFFFF;
padding-top: 20px;


}
.middlef i{
    color: #FFFFFF;

}

.fline{
    width: 300px;
    
    height: 2px;
    margin: 0;
    margin-left: 50px;
background: rgba(255, 255, 255, 0.26);
}
.middle-align{
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.rightf h2 a{
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 20px;
    font-size: 15px;
}
.rightf h2{
    margin-bottom: 10px;
}

.smp,.nearby,.saf,.direction{
    display: flex;
    font-size: 20px;
    align-items: center;

}
.rightf i{
     color: #FFFFFF;
     padding: 5px;
     margin: 0;
     
}

.rff{
    padding-top: 25px;
    padding-left: 75px;
}